body {
    background-image: url(R-C.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	background-attachment: fixed;
    margin: 0;
}
.foot{
	width: 1020px;
	margin: auto;
	border-top: 1px solid #ccc;
	
	display: flex;
	flex-direction: column;
}
.foot p{
	text-align: center;
	color: whitesmoke;
	font-size: 12px;
	margin-top: 10px;
	
	margin-top: auto; 
}

.nav{
	height: 58px;
	line-height: 58px;
	font-family: "Hanalei Fill";
}
.nav_box{
	width: 500px;
	margin: auto;
}
.nav_box a{
	text-decoration: none;
	color: whitesmoke;
	margin:40px;
	font-size: 21px;
	text-shadow: 3px 3px 3px red,
	7px 7px 7px aqua;
}
.nav_box a:hover{
	color: blue;
}